@model MvsStok.Models.Entity.TBLURUN

@{
    ViewBag.Title = "urunGetir";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Ürün Güncelleme Sayfası</h2>
@using (Html.BeginForm("Guncelle", "Urunler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.URUNID)
        @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
        <br>
        @Html.LabelFor(m => m.URUNAD)
        @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.TBLKATAGORI.KATAGORIAD)
        @Html.TextBoxFor(m => m.TBLKATAGORI.KATAGORIAD, new { @class = "form-control" })
        <br>
       

        @*@Html.DropDownListFor(m => m.TBLKATAGORI.KATAGORIID, (List<SelectListItem>)ViewBag.katagoriler, new { @class = "form-control" })*@

        @Html.LabelFor(m => m.FIYAT)
        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
        <br>
        @Html.LabelFor(m => m.MARKA)
        @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
        <br>
        @Html.LabelFor(m => m.STOK)
        @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn-warning">Ürün Güncelle</button>
    </div>
}